* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: HCoGothamSSmRegular, Arial, Sans-Serif;
}
.header {
  overflow: hidden;
}

.box1 {
  width: 100%;
  height: auto;
  padding: 20px;
  margin: auto;
  text-align: center;
  background-color: #f7f4f2;
  color: #55565a;
}
.box1 > p {
  letter-spacing: 0.6px;
  font-size: 1rem;
  font-weight: 0.5px;
}
strong {
  color: #55565a;
  text-decoration: underline;
}
.box2 {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  padding-top: 20px;
  border-bottom: 0.4px solid #272829;
}
.box2 div a{
  text-decoration: none;
}
.box2 > div {
  height: 30px;
  width: 200px;
  /* border: 0.5px solid red; */
}
.box2 img:hover{
 cursor: pointer;
}
.menu_box {
  display: flex;
  justify-content: space-around;
}
.logo {
  text-transform: uppercase;
  color: #272829;
  /* word-spacing: 1.5px; */
}
.size {
  letter-spacing: 0.6px;
  font-size: 0.9rem;
  font-weight: 0.5px;
  word-spacing: 1.5px;
}
/* //code by dipak */

#log:hover{
  display: block;
}
.logo:hover {
  cursor: pointer;
}
.fa-user-plus {
  color: black;
}
.child-box > div:hover {
  cursor: pointer;
  border-bottom: 3px solid rgb(147, 202, 247);
  transition-duration: 0 10ms;
}

/* code end by dipak */
.box3 {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  padding: 10px;
}
.child-box {
  box-sizing: border-box;
  width: 70%;
  margin: auto;
  padding: 15px;
  display: flex;
  justify-content: space-around;
}
.box3 .child-box a {
  text-decoration: none;
}
.banner {
  width: 100%;
}
.banner-text {
  height: 400px;
  width: 400px;
  padding: 0px 20px 20px 50px;
}
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  margin-top: 300px;
}
.title1 {
  font-family: Bell MT;
  font-size: 40px;
  font-weight: 100;
  color: #222;
  line-height: 1.2;
  letter-spacing: 1px;
  max-width: none;
}
.subtext {
  font-size: 18px;
  font-weight: 400;
  color: #222;
  line-height: 1.5;
  letter-spacing: 0.8px;
  max-width: 34rem;
}
.subcontent {
  font-size: 13px;
  font-weight: 400;
  color: #55565a;
  line-height: 1.3;
  letter-spacing: 0.8px;
  margin-top: 1.6rem;
  order: 5;
  max-width: 34rem;
}
.subcontent > a {
  font-size: 12px;
  letter-spacing: 0.3px;
  color: #55565a;
  text-decoration: underline;
}
.btn-shopnow {
  width: 300px;
  height: 40px;
  background-color: white;
  color: #222;
  border: 0.5px solid #222;
  text-transform: uppercase;
  word-spacing: 2.5px;
  letter-spacing: 0.6px;
  font-size: 17px;
  font-weight: 500;
  margin-top: 40px;
  border-radius: 5px;
}
img {
  width: 100%;
}
.big-box {
  height: 420;
  background-color: #f7f4ef;
}
.scroll-bar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-bottom: 30px;
  overflow-x: scroll;
}
.scroll-bar > div {
  height: 600px;
  width: 400px;
  /* border: 1px solid red; */
}
.scroll-bar-1 {
  display: flex;
  flex-direction: column;
}
.scroll-bar-1 > div :nth-child(1) {
  height: 50%;
  width: 100%;
}
.scroll-bar-1 > div :nth-child(2) {
  height: 50%;
  width: 100%;
}
.scroll-bar-1-content {
  padding: 50px;
}
.scroll-item {
  background-color: white;
  padding-bottom: 30px;
  padding: 10px;
}
.scroll-item > div {
  margin-top: 30px;
}
.scroll-item > img {
  padding: 0px 40px 2px 40px;
}
.addproduct {
  height: 600px;
  width: 100%;
  background-color: #f8f4f2;
}
.addproduct-title {
  margin-top: 20px;
  text-align: center;
  padding-top: 70px;
}
.addproduct-items {
  display: flex;
  justify-content: space-between;
  padding: 80px 20px 40px 20px;
}
.addproduct-items > div {
  /* padding-top: 100px; */
  height: 250px;
  width: 200px;
  border: 1px solid yellow;
  border-radius: 10px;
}
