p {
  font-size: 30px;
  font-family: serif;
  line-height: 20px;
  color: #222222;
  font-weight: lighter;
  text-align: center;
  margin-top: 50px;
}
#s_phrase {
  width: 55%;
  margin: auto;
  margin-top: -15px;
  font-size: 20px;
  font-family: Serif;
  line-height: 24px;
  color: #222222;
  font-weight: lighter;
}

#container {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 40px;
  margin-top: 50px;
}
#container > div {
  box-sizing: border-box;
}
#product_img {
  width: 100%;
  height: 250px;
}
#prod_name,
#prod_price {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  color: rgba(34, 34, 34, 0.87);
  font-family: Arial, sans-serif;
}
#prod_price {
  font-size: 16px;
  text-align: center;
  font-weight: 200;
}
#chunk {
  color: #00baf2;
  font-size: 16px;
  margin-left: 5px;
  font-weight: bold;
}
#price_box {
  display: flex;
  justify-content: center;
  margin-top: -30px;
}

#btn_add {
  border: 1px solid black;
  padding: 15px 40px;
  width: 100%;
  font-size: 15px;
  word-spacing: 2px;
}
#btn_add,
#product_img,
#prod_name:hover {
  cursor: pointer;
}

#newpages {
  width: 10%;
  margin: auto;
  margin-top: 50px;
  display: flex;
  /* justify-content: flex-end; */
  justify-content: space-around;
  margin-left: 80%;
}
#newpages > div {
  height: 40px;
  width: 40px;
  text-align: center;
  border: 1px solid black;
}
.page {
  box-sizing: border-box;
  padding-top: 10px;
}
span {
  align-items: center;
  margin-top: 10px;
}
body {
  background-color: white;
}

/* media query */

@media only screen and (min-width: 60px) and (max-width: 420px) {
  #container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
  }
  #container > div {
    box-sizing: border-box;
  }
  #product_img {
    width: 100%;
    height: 100px;
  }
  p {
    font-size: 20px;
  }
  #prod_name {
    font-size: 15px;
  }
  /* #price_box
  {

  } */

  #s_phrase {
    font-size: 16px;
    width: 85%;
    margin-top: 5px;
  }
  #newpages {
    width: 60%;
    margin: auto;
    margin-left: 20%;
    margin-top: 10px;
    justify-content: space-around;
  }
  #newpages > div {
    width: 50px;
    height: 40px;
    align-items: center;
  }
}

@media only screen and (min-width: 421px) and (max-width: 780px) {
}
